
--Tạo thư mục d:\THUVIEN\BACKUP\ để lưu trữ bản backup
--Đề tài có sử dụng schedule để backup hàng tuần cho database
--Tài khoản ThuThu: nhóm QuanLy có quyền owner trong db
--Tài khoản TL: là độc giả 1 có quyền xem các view VIEW_BAO_DANGMUON, VIEW_SACH_DANGMUON, VIEW_SACHTV, VIEW_BAOTV
--Phân quyền được ghi ở dưới dòng tạo view

USE [master]
GO
/****** Object:  Database [ThuVien]    Script Date: 10/7/2023 2:37:19 PM ******/
CREATE DATABASE [ThuVien]
GO
CREATE LOGIN ThuThu WITH PASSWORD = '123'
    MUST_CHANGE, CHECK_EXPIRATION = ON;
GO
CREATE LOGIN TL WITH PASSWORD = '1'
    MUST_CHANGE, CHECK_EXPIRATION = ON;
GO
--Mở thêm server role cho quản lý thư viện
sp_addsrvrolemember 'ThuThu', 'securityadmin'
GO
sp_addsrvrolemember 'ThuThu', 'dbcreator'
GO
sp_addsrvrolemember 'ThuThu', 'diskadmin'
GO
USE [ThuVien]
GO
/****** Object:  User [ThuThu]    Script Date: 10/7/2023 2:37:19 PM ******/
CREATE USER ThuThu FOR LOGIN ThuThu WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [1]    Script Date: 10/7/2023 2:37:19 PM ******/
CREATE USER [1] FOR LOGIN TL WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [QuanLy]    Script Date: 10/7/2023 2:37:19 PM ******/
CREATE ROLE QuanLy
GO
/****** Object:  DatabaseRole [DocGia]    Script Date: 10/7/2023 2:37:19 PM ******/
CREATE ROLE DocGia
GO
ALTER ROLE db_owner ADD MEMBER QuanLy
GO
ALTER ROLE QuanLy ADD MEMBER ThuThu
GO
ALTER ROLE DocGia ADD MEMBER [1]
GO

/****** Object:  UserDefinedFunction [dbo].[AUTO_MASXB]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[AUTO_MASXB]()
returns char(10)
as
begin
	DECLARE @ID CHAR(10)
	IF (SELECT COUNT(MASACHXB) FROM SachXB) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MASACHXB, 9)) FROM SachXB
	SELECT @ID = CASE
				WHEN @ID >= 99999999 THEN 'S' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9999999 THEN 'S0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999999 THEN 'S0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99999 THEN 'S00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9999 THEN 'S000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999 THEN 'S0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99 THEN 'S00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9 THEN 'S000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				ELSE 'S00000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				END
	RETURN @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MATG]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[AUTO_MATG]()
returns char(10)
as
begin
	DECLARE @ID CHAR(10)
	IF (SELECT COUNT(MATG) FROM TacGia) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MATG, 8)) FROM TacGia
	SELECT @ID = CASE
				WHEN @ID >= 9999999 THEN 'TG' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999999 THEN 'TG' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99999 THEN 'TG0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9999 THEN 'TG00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999 THEN 'TG000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99 THEN 'TG0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9 THEN 'TG00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				ELSE 'TG0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				END
	RETURN @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MATL]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[AUTO_MATL]()
returns char(10)
as
begin
	DECLARE @ID CHAR(10)
	IF (SELECT COUNT(MA) FROM TaiLieu) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MA, 8)) FROM TaiLieu
	SELECT @ID = CASE
				WHEN @ID >= 9999999 THEN 'TL' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999999 THEN 'TL0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99999 THEN 'TL00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9999 THEN 'TL000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 999 THEN 'TL0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 99 THEN 'TL00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				WHEN @ID >= 9 THEN 'TL000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				ELSE 'TL0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
				END
	RETURN @ID
end
GO
/****** Object:  Table [dbo].[TaiLieu]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieu](
	[MA] [nchar](10) NOT NULL,
	[TUA] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_TaiLieu] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MATG] [nchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NAMSINH] [nchar](4) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachXB]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachXB](
	[MASACHXB] [nchar](10) NOT NULL,
	[LAN] [int] NOT NULL,
	[MASACH] [nchar](10) NOT NULL,
	[NAM] [nchar](4) NOT NULL,
	[KHOGIAY] [nvarchar](20) NULL,
	[SOTRANG] [int] NULL,
	[NHAXB] [nvarchar](100) NOT NULL,
	[GIA] [money] NOT NULL,
	[CD] [bit] NOT NULL,
	[SLNHAP] [int] NOT NULL,
 CONSTRAINT [PK_SachXB] PRIMARY KEY CLUSTERED 
(
	[MASACHXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachTV](
	[ID_SACH] [bigint] NOT NULL,
	[STT] [int] NOT NULL,
	[MASACHXB] [nchar](10) NOT NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_SachTV] PRIMARY KEY CLUSTERED 
(
	[ID_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachMuon](
	[ID_SACHMUON] [bigint] IDENTITY(1,1) NOT NULL,
	[SOTHE] [bigint] NOT NULL,
	[ID_SACH] [bigint] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_SachMuon] PRIMARY KEY CLUSTERED 
(
	[ID_SACHMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTacGia]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTacGia](
	[MASACH] [nchar](10) NOT NULL,
	[MATG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietTacGia] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_SACHTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_SACHTV]
AS
SELECT ID_SACH, STT, S.TUA, TACGIA=STRING_AGG(TG.TEN,' '), LAN AS LANXB, NAM, NHAXB, CD, GIA, TINHTRANG, MUON
FROM (SELECT ID_SACH,STT,MASACHXB, TINHTRANG, 
MUON=(CASE WHEN (EXISTS(SELECT * FROM SachMuon SM WITH (INDEX=IX_NGAYTRA) WHERE STV.ID_SACH=SM.ID_SACH AND NGAYTRA IS NULL)) THEN N'Đang mượn'
ELSE N'Chưa mượn' END) 
FROM SachTV STV) STV, 
(SELECT MASACHXB, LAN, MASACH, NAM, NHAXB, CD,GIA FROM SachXB) SXB, (SELECT MA, TUA FROM TaiLieu WITH(INDEX=IX_SACH) WHERE LOAI=N'Sách') S,
(SELECT * FROM ChiTietTacGia) CTTG, (SELECT MATG, TEN FROM TacGia) TG
WHERE STV.MASACHXB=SXB.MASACHXB AND S.MA=SXB.MASACH AND CTTG.MASACH=S.MA AND CTTG.MATG=TG.MATG
GROUP BY ID_SACH, STT, S.TUA,LAN, NAM, NHAXB, CD,GIA, TINHTRANG, MUON
GO
/****** Object:  Table [dbo].[BaoPH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoPH](
	[MABAO] [nchar](10) NOT NULL,
	[NAMPH] [nchar](4) NOT NULL,
	[DINHKY] [nvarchar](5) NOT NULL,
	[NSX] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_BaoPH] PRIMARY KEY CLUSTERED 
(
	[MABAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTV](
	[ID_BAO] [bigint] NOT NULL,
	[MABAO] [nchar](10) NOT NULL,
	[LAN] [int] NOT NULL,
	[SLNHAP] [int] NOT NULL,
	[SLTON] [int] NOT NULL,
 CONSTRAINT [PK_BaoTV] PRIMARY KEY CLUSTERED 
(
	[ID_BAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



--Tạo view
/****** Object:  View [dbo].[VIEW_BAOTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_BAOTV]
AS
SELECT ID_BAO, B.TUA, LANPH, NAMPH, DINHKY, NSX, SLTON
FROM (SELECT MA,TUA FROM TaiLieu WITH (INDEX=IX_BAO) WHERE LOAI=N'Báo') B, (SELECT MABAO,NAMPH,DINHKY,NSX FROM BaoPH) BPH,
(SELECT ID_BAO, MABAO, LAN AS LANPH, SLTON FROM BaoTV WITH (INDEX=IX_MABAO)) BTV
WHERE B.MA=BTV.MABAO AND B.MA=BPH.MABAO
GO
/****** Object:  View [dbo].[VIEW_BAOPH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create view [dbo].[VIEW_BAOPH]
As
Select MABAO,TUA,NAMPH,DINHKY,NSX from TaiLieu, BaoPH 
where TaiLieu.MA = BaoPH.MABAO
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[SOTHE] [bigint] NOT NULL,
	[NGAYCAP] [date] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGHENGHIEP] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[SOTHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_DS_MUON_SACH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_DS_MUON_SACH]
AS
SELECT SM.ID_SACH,TUA, STT, LAN AS LANXB,SM.SOTHE, DG.TEN, PHAI, NGAYMUON, TINHTRANG=N'Chưa trả'
FROM (SELECT SOTHE, ID_SACH, NGAYMUON FROM SachMuon WITH (INDEX=IX_NGAYTRA) WHERE NGAYTRA IS NULL) SM,
(SELECT SOTHE, TEN, PHAI FROM DocGia) DG, (SELECT ID_SACH, STT, MASACHXB FROM SachTV) STV,
(SELECT MASACHXB, LAN, MASACH FROM SachXB) SXB, (SELECT MA,TUA FROM TaiLieu WITH(INDEX=IX_SACH) WHERE LOAI=N'Sách') S
WHERE SM.SOTHE=DG.SOTHE AND SM.ID_SACH=STV.ID_SACH 
AND STV.MASACHXB=SXB.MASACHXB AND SXB.MASACH=S.MA
GO
/****** Object:  Table [dbo].[BaoMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoMuon](
	[ID_MUONBAO] [bigint] IDENTITY(1,1) NOT NULL,
	[SOTHE] [bigint] NOT NULL,
	[ID_BAO] [bigint] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_BaoMuon] PRIMARY KEY CLUSTERED 
(
	[ID_MUONBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_DS_MUON_BAO]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_DS_MUON_BAO]
AS
SELECT BM.ID_BAO, TUA, LAN AS LANXB, BM.SOTHE, TEN, PHAI, NGAYMUON, TINHTRANG=N'Chưa trả'
FROM (SELECT MA, TUA FROM TaiLieu WITH(INDEX=IX_BAO) WHERE LOAI=N'Báo') B,
(SELECT ID_BAO, MABAO, LAN FROM BaoTV) BTV, 
(SELECT SOTHE, ID_BAO, NGAYMUON FROM BaoMuon WITH(INDEX=IX_NGAYTRA) WHERE NGAYTRA IS NULL) BM,
(SELECT SOTHE,TEN, PHAI FROM DocGia) DG
WHERE BM.SOTHE=DG.SOTHE AND BM.ID_BAO = BTV.ID_BAO AND BTV.MABAO=B.MA
GO
/****** Object:  View [dbo].[VIEW_SACH_DANGMUON]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_SACH_DANGMUON]
AS
SELECT SM.ID_SACH, TUA, LAN AS LANXB, STT, NGAYMUON, TINHTRANG=N'Chưa trả'
FROM (SELECT ID_SACH, NGAYMUON FROM SachMuon WITH(INDEX=IX_NGAYTRA) WHERE SOTHE=CONVERT(BIGINT,(SELECT NAME FROM sys.sysusers WHERE sid = SUSER_SID(SYSTEM_USER))) AND NGAYTRA IS NULL) SM,
(SELECT ID_SACH, STT, MASACHXB  FROM SachTV) STV, (SELECT MASACHXB, LAN, MASACH FROM SachXB)SXB,
(SELECT MA, TUA FROM TaiLieu WITH(INDEX=IX_SACH) WHERE LOAI=N'Sách') S
WHERE SM.ID_SACH=STV.ID_SACH AND STV.MASACHXB=SXB.MASACHXB AND SXB.MASACH=S.MA
GO
/****** Object:  View [dbo].[VIEW_BAO_DANGMUON]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_BAO_DANGMUON]
AS
SELECT BM.ID_BAO, TUA, LAN AS LANXB, NGAYMUON, TINHTRANG=N'Chưa trả'
FROM (SELECT ID_BAO, NGAYMUON FROM BaoMuon WITH(INDEX=IX_NGAYTRA) WHERE SOTHE=CONVERT(BIGINT,(SELECT NAME FROM sys.sysusers WHERE sid = SUSER_SID(SYSTEM_USER))) AND NGAYTRA IS NULL) BM,
(SELECT ID_BAO, MABAO, LAN FROM BaoTV) BTV, (SELECT MA,TUA FROM TaiLieu WITH(INDEX=IX_BAO) WHERE LOAI=N'Báo')B
WHERE BM.ID_BAO=BTV.ID_BAO AND BTV.MABAO=B.MA
GO


--Phân quyền view
GRANT SELECT ON VIEW_BAO_DANGMUON TO DocGia 
GO
GRANT SELECT ON VIEW_SACH_DANGMUON TO DocGia 
GO
GRANT SELECT ON VIEW_BAOTV TO DocGia 
GO
GRANT SELECT ON VIEW_SACHTV TO DocGia 
GO
DENY SELECT, INSERT, UPDATE, DELETE ON VIEW_BAO_DANGMUON TO QuanLy 
GO
DENY SELECT, INSERT, UPDATE, DELETE ON VIEW_SACH_DANGMUON TO QuanLy 
GO

--Thêm data
SET IDENTITY_INSERT [dbo].[BaoMuon] ON 

INSERT [dbo].[BaoMuon] ([ID_MUONBAO], [SOTHE], [ID_BAO], [NGAYMUON], [NGAYTRA]) VALUES (1, 1, 1, CAST(N'2023-05-19' AS Date), CAST(N'2023-05-19' AS Date))
INSERT [dbo].[BaoMuon] ([ID_MUONBAO], [SOTHE], [ID_BAO], [NGAYMUON], [NGAYTRA]) VALUES (4, 1, 1, CAST(N'2023-05-24' AS Date), CAST(N'2023-05-24' AS Date))
INSERT [dbo].[BaoMuon] ([ID_MUONBAO], [SOTHE], [ID_BAO], [NGAYMUON], [NGAYTRA]) VALUES (5, 1, 1, CAST(N'2023-05-24' AS Date), CAST(N'2023-05-24' AS Date))
SET IDENTITY_INSERT [dbo].[BaoMuon] OFF
GO
INSERT [dbo].[BaoPH] ([MABAO], [NAMPH], [DINHKY], [NSX]) VALUES (N'TL00000001', N'1991', N'tháng', N'báo Tiền Phong')
INSERT [dbo].[BaoPH] ([MABAO], [NAMPH], [DINHKY], [NSX]) VALUES (N'TL00000002', N'1954', N'tháng', N'Đoàn thanh niên Cộng sản Hồ Chí Minh')
GO
INSERT [dbo].[BaoTV] ([ID_BAO], [MABAO], [LAN], [SLNHAP], [SLTON]) VALUES (1, N'TL00000001', 1, 19, 19)
INSERT [dbo].[BaoTV] ([ID_BAO], [MABAO], [LAN], [SLNHAP], [SLTON]) VALUES (2, N'TL00000001', 2, 18, 18)
INSERT [dbo].[BaoTV] ([ID_BAO], [MABAO], [LAN], [SLNHAP], [SLTON]) VALUES (3, N'TL00000002', 1, 20, 20)
GO
INSERT [dbo].[ChiTietTacGia] ([MASACH], [MATG]) VALUES (N'TL00000003', N'TG00000001')
INSERT [dbo].[ChiTietTacGia] ([MASACH], [MATG]) VALUES (N'TL00000004', N'TG00000002')
INSERT [dbo].[ChiTietTacGia] ([MASACH], [MATG]) VALUES (N'TL00000004', N'TG00000003')
GO
INSERT [dbo].[DocGia] ([SOTHE], [NGAYCAP], [TEN], [NGHENGHIEP], [PHAI]) VALUES (1, CAST(N'2023-05-19' AS Date), N'Trần Gia Long', N'Sinh viên', N'Nam')
INSERT [dbo].[DocGia] ([SOTHE], [NGAYCAP], [TEN], [NGHENGHIEP], [PHAI]) VALUES (2, CAST(N'2023-05-24' AS Date), N'Nguyễn Nhật Kha', N'Sinh viên', N'Nam')
GO
SET IDENTITY_INSERT [dbo].[SachMuon] ON 

INSERT [dbo].[SachMuon] ([ID_SACHMUON], [SOTHE], [ID_SACH], [NGAYMUON], [NGAYTRA]) VALUES (1, 1, 1, CAST(N'2023-05-19' AS Date), CAST(N'2023-05-19' AS Date))
INSERT [dbo].[SachMuon] ([ID_SACHMUON], [SOTHE], [ID_SACH], [NGAYMUON], [NGAYTRA]) VALUES (2, 1, 1, CAST(N'2023-05-19' AS Date), CAST(N'2023-05-19' AS Date))
INSERT [dbo].[SachMuon] ([ID_SACHMUON], [SOTHE], [ID_SACH], [NGAYMUON], [NGAYTRA]) VALUES (4, 1, 1, CAST(N'2023-05-19' AS Date), CAST(N'2023-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[SachMuon] OFF
GO
INSERT [dbo].[SachTV] ([ID_SACH], [STT], [MASACHXB], [TINHTRANG]) VALUES (1, 1, N'S000000001', N'Tốt')
INSERT [dbo].[SachTV] ([ID_SACH], [STT], [MASACHXB], [TINHTRANG]) VALUES (2, 2, N'S000000001', N'Tốt')
INSERT [dbo].[SachTV] ([ID_SACH], [STT], [MASACHXB], [TINHTRANG]) VALUES (3, 3, N'S000000001', N'Tốt')
GO
INSERT [dbo].[SachXB] ([MASACHXB], [LAN], [MASACH], [NAM], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [CD], [SLNHAP]) VALUES (N'S000000001', 1, N'TL00000003', N'1998', N'13 x 20.5 cm3', 334, N'Nhà xuất bản trẻ', 120000.0000, 0, 10)
INSERT [dbo].[SachXB] ([MASACHXB], [LAN], [MASACH], [NAM], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [CD], [SLNHAP]) VALUES (N'S000000002', 2, N'TL00000003', N'2001', N'13 x 20.5 cm3', 336, N'Nhà xuất bản trẻ', 120000.0000, 0, 10)
INSERT [dbo].[SachXB] ([MASACHXB], [LAN], [MASACH], [NAM], [KHOGIAY], [SOTRANG], [NHAXB], [GIA], [CD], [SLNHAP]) VALUES (N'S000000003', 1, N'TL00000004', N'1951', NULL, 320, N'Nhà xuất bản Phạm Văn Tươi', 100000.0000, 0, 10)
GO
INSERT [dbo].[TacGia] ([MATG], [TEN], [NAMSINH]) VALUES (N'TG00000001', N'J.K Rowling', N'1965')
INSERT [dbo].[TacGia] ([MATG], [TEN], [NAMSINH]) VALUES (N'TG00000002', N'Dale Carnegie', N'1888')
INSERT [dbo].[TacGia] ([MATG], [TEN], [NAMSINH]) VALUES (N'TG00000003', N'Paulo Coelho', N'1947')
GO
INSERT [dbo].[TaiLieu] ([MA], [TUA], [LOAI]) VALUES (N'TL00000001', N'Hoa học trò', N'Báo')
INSERT [dbo].[TaiLieu] ([MA], [TUA], [LOAI]) VALUES (N'TL00000002', N'Báo nhi đồng', N'Báo')
INSERT [dbo].[TaiLieu] ([MA], [TUA], [LOAI]) VALUES (N'TL00000003', N'HarryPotter và hòn đá phù thủy', N'Sách')
GO
/****** Object:  Index [IX_NGAYTRA]    Script Date: 10/7/2023 2:37:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYTRA] ON [dbo].[BaoMuon]
(
	[NGAYTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_BaoTV_MABAO_LAN]    Script Date: 10/7/2023 2:37:20 PM ******/
ALTER TABLE [dbo].[BaoTV] ADD  CONSTRAINT [UK_BaoTV_MABAO_LAN] UNIQUE NONCLUSTERED 
(
	[MABAO] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MABAO]    Script Date: 10/7/2023 2:37:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_MABAO] ON [dbo].[BaoTV]
(
	[MABAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYTRA]    Script Date: 10/7/2023 2:37:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYTRA] ON [dbo].[SachMuon]
(
	[NGAYTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SachTV_STT_MASACHXB]    Script Date: 10/7/2023 2:37:20 PM ******/
ALTER TABLE [dbo].[SachTV] ADD  CONSTRAINT [UK_SachTV_STT_MASACHXB] UNIQUE NONCLUSTERED 
(
	[MASACHXB] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SachXB_MASACH_LAN]    Script Date: 10/7/2023 2:37:20 PM ******/
ALTER TABLE [dbo].[SachXB] ADD  CONSTRAINT [UK_SachXB_MASACH_LAN] UNIQUE NONCLUSTERED 
(
	[MASACH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TaiLieu_TUA]    Script Date: 10/7/2023 2:37:20 PM ******/
ALTER TABLE [dbo].[TaiLieu] ADD  CONSTRAINT [UK_TaiLieu_TUA] UNIQUE NONCLUSTERED 
(
	[TUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BAO]    Script Date: 10/7/2023 2:37:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_BAO] ON [dbo].[TaiLieu]
(
	[LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SACH]    Script Date: 10/7/2023 2:37:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_SACH] ON [dbo].[TaiLieu]
(
	[LOAI] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoMuon] ADD  CONSTRAINT [DF_BaoMuon_NGAYMUON]  DEFAULT (getdate()) FOR [NGAYMUON]
GO
ALTER TABLE [dbo].[BaoTV] ADD  CONSTRAINT [DF_BaoTV_LAN]  DEFAULT ((1)) FOR [LAN]
GO
ALTER TABLE [dbo].[DocGia] ADD  CONSTRAINT [DF_DocGia_NGAYCAP]  DEFAULT (getdate()) FOR [NGAYCAP]
GO
ALTER TABLE [dbo].[SachMuon] ADD  CONSTRAINT [DF_SachMuon_NGAYMUON]  DEFAULT (getdate()) FOR [NGAYMUON]
GO
ALTER TABLE [dbo].[SachXB] ADD  DEFAULT ([dbo].[AUTO_MASXB]()) FOR [MASACHXB]
GO
ALTER TABLE [dbo].[SachXB] ADD  CONSTRAINT [DF_SachXB_CD]  DEFAULT ((0)) FOR [CD]
GO
ALTER TABLE [dbo].[TacGia] ADD  CONSTRAINT [DF_TacGia_MATG]  DEFAULT ([dbo].[AUTO_MATG]()) FOR [MATG]
GO
ALTER TABLE [dbo].[TaiLieu] ADD  DEFAULT ([dbo].[AUTO_MATL]()) FOR [MA]
GO
ALTER TABLE [dbo].[BaoMuon]  WITH CHECK ADD  CONSTRAINT [FK_BaoMuon_BaoTV] FOREIGN KEY([ID_BAO])
REFERENCES [dbo].[BaoTV] ([ID_BAO])
GO
ALTER TABLE [dbo].[BaoMuon] CHECK CONSTRAINT [FK_BaoMuon_BaoTV]
GO
ALTER TABLE [dbo].[BaoMuon]  WITH CHECK ADD  CONSTRAINT [FK_BaoMuon_DocGia] FOREIGN KEY([SOTHE])
REFERENCES [dbo].[DocGia] ([SOTHE])
GO
ALTER TABLE [dbo].[BaoMuon] CHECK CONSTRAINT [FK_BaoMuon_DocGia]
GO
ALTER TABLE [dbo].[BaoPH]  WITH CHECK ADD  CONSTRAINT [FK_BaoPH_TaiLieu] FOREIGN KEY([MABAO])
REFERENCES [dbo].[TaiLieu] ([MA])
GO
ALTER TABLE [dbo].[BaoPH] CHECK CONSTRAINT [FK_BaoPH_TaiLieu]
GO
ALTER TABLE [dbo].[BaoTV]  WITH CHECK ADD  CONSTRAINT [FK_BaoTV_BaoPH] FOREIGN KEY([MABAO])
REFERENCES [dbo].[BaoPH] ([MABAO])
GO
ALTER TABLE [dbo].[BaoTV] CHECK CONSTRAINT [FK_BaoTV_BaoPH]
GO
ALTER TABLE [dbo].[ChiTietTacGia]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTacGia_TacGia] FOREIGN KEY([MATG])
REFERENCES [dbo].[TacGia] ([MATG])
GO
ALTER TABLE [dbo].[ChiTietTacGia] CHECK CONSTRAINT [FK_ChiTietTacGia_TacGia]
GO
ALTER TABLE [dbo].[ChiTietTacGia]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTacGia_TaiLieu] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TaiLieu] ([MA])
GO
ALTER TABLE [dbo].[ChiTietTacGia] CHECK CONSTRAINT [FK_ChiTietTacGia_TaiLieu]
GO
ALTER TABLE [dbo].[SachMuon]  WITH CHECK ADD  CONSTRAINT [FK_SachMuon_DocGia1] FOREIGN KEY([SOTHE])
REFERENCES [dbo].[DocGia] ([SOTHE])
GO
ALTER TABLE [dbo].[SachMuon] CHECK CONSTRAINT [FK_SachMuon_DocGia1]
GO
ALTER TABLE [dbo].[SachMuon]  WITH CHECK ADD  CONSTRAINT [FK_SachMuon_SachTV1] FOREIGN KEY([ID_SACH])
REFERENCES [dbo].[SachTV] ([ID_SACH])
GO
ALTER TABLE [dbo].[SachMuon] CHECK CONSTRAINT [FK_SachMuon_SachTV1]
GO
ALTER TABLE [dbo].[SachTV]  WITH CHECK ADD  CONSTRAINT [FK_SachTV_SachXB] FOREIGN KEY([MASACHXB])
REFERENCES [dbo].[SachXB] ([MASACHXB])
GO
ALTER TABLE [dbo].[SachTV] CHECK CONSTRAINT [FK_SachTV_SachXB]
GO
ALTER TABLE [dbo].[SachXB]  WITH CHECK ADD  CONSTRAINT [FK_SachXB_TaiLieu] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TaiLieu] ([MA])
GO
ALTER TABLE [dbo].[SachXB] CHECK CONSTRAINT [FK_SachXB_TaiLieu]
GO
ALTER TABLE [dbo].[BaoMuon]  WITH CHECK ADD  CONSTRAINT [CK_BaoMuon_MUONTRA] CHECK  (([NGAYMUON]<=[NGAYTRA]))
GO
ALTER TABLE [dbo].[BaoMuon] CHECK CONSTRAINT [CK_BaoMuon_MUONTRA]
GO
ALTER TABLE [dbo].[BaoPH]  WITH CHECK ADD  CONSTRAINT [CK_BaoPH_DINHKY] CHECK  (([DINHKY]=N'Ngày' OR [DINHKY]=N'Tuần' OR [DINHKY]=N'Tháng'))
GO
ALTER TABLE [dbo].[BaoPH] CHECK CONSTRAINT [CK_BaoPH_DINHKY]
GO
ALTER TABLE [dbo].[BaoPH]  WITH CHECK ADD  CONSTRAINT [CK_BaoPH_NAMPH] CHECK  (([NAMPH] like '[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[BaoPH] CHECK CONSTRAINT [CK_BaoPH_NAMPH]
GO
ALTER TABLE [dbo].[BaoTV]  WITH CHECK ADD  CONSTRAINT [CK_BaoTV_LAN] CHECK  (([LAN]>(0)))
GO
ALTER TABLE [dbo].[BaoTV] CHECK CONSTRAINT [CK_BaoTV_LAN]
GO
ALTER TABLE [dbo].[BaoTV]  WITH CHECK ADD  CONSTRAINT [CK_BaoTV_SLNHAP] CHECK  (([SLNHAP]>(0)))
GO
ALTER TABLE [dbo].[BaoTV] CHECK CONSTRAINT [CK_BaoTV_SLNHAP]
GO
ALTER TABLE [dbo].[BaoTV]  WITH CHECK ADD  CONSTRAINT [CK_BaoTV_SLNHAP_SLTON] CHECK  (([SLNHAP]>=[SLTON]))
GO
ALTER TABLE [dbo].[BaoTV] CHECK CONSTRAINT [CK_BaoTV_SLNHAP_SLTON]
GO
ALTER TABLE [dbo].[BaoTV]  WITH CHECK ADD  CONSTRAINT [CK_BaoTV_SLTON] CHECK  (([SLTON]>=(0)))
GO
ALTER TABLE [dbo].[BaoTV] CHECK CONSTRAINT [CK_BaoTV_SLTON]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [CK_DocGia_PHAI] CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [CK_DocGia_PHAI]
GO
ALTER TABLE [dbo].[SachMuon]  WITH CHECK ADD  CONSTRAINT [CK_SachMuon_MUONTRA] CHECK  (([NGAYMUON]<=[NGAYTRA]))
GO
ALTER TABLE [dbo].[SachMuon] CHECK CONSTRAINT [CK_SachMuon_MUONTRA]
GO
ALTER TABLE [dbo].[SachXB]  WITH CHECK ADD  CONSTRAINT [CK_SachXB_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[SachXB] CHECK CONSTRAINT [CK_SachXB_GIA]
GO
ALTER TABLE [dbo].[SachXB]  WITH CHECK ADD  CONSTRAINT [CK_SachXB_NAM] CHECK  (([NAM] like '[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[SachXB] CHECK CONSTRAINT [CK_SachXB_NAM]
GO
ALTER TABLE [dbo].[SachXB]  WITH CHECK ADD  CONSTRAINT [CK_SachXB_SLNHAP] CHECK  (([SLNHAP]>(0)))
GO
ALTER TABLE [dbo].[SachXB] CHECK CONSTRAINT [CK_SachXB_SLNHAP]
GO
ALTER TABLE [dbo].[SachXB]  WITH CHECK ADD  CONSTRAINT [CK_SachXB_SOTRANG] CHECK  (([SOTRANG]>(0)))
GO
ALTER TABLE [dbo].[SachXB] CHECK CONSTRAINT [CK_SachXB_SOTRANG]
GO
ALTER TABLE [dbo].[TaiLieu]  WITH CHECK ADD  CONSTRAINT [CK_TaiLieu_LOAI] CHECK  (([LOAI]=N'Sách' OR [LOAI]=N'Báo'))
GO
ALTER TABLE [dbo].[TaiLieu] CHECK CONSTRAINT [CK_TaiLieu_LOAI]
GO


--Tạo SP
/****** Object:  StoredProcedure [dbo].[SP_BACKUP]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BACKUP]
AS
BEGIN
	IF (NOT EXISTS(SELECT* FROM sys.sysdevices WHERE name='backup_ThuVien'))
	BEGIN
		EXEC sp_addumpdevice 'disk', 'backup_ThuVien','d:\THUVIEN\BACKUP\backup_ThuVien.bak'
		BACKUP DATABASE ThuVien TO backup_ThuVien WITH INIT
	END
	IF (NOT EXISTS(SELECT* FROM sys.sysdevices WHERE name='backup_ThuVienLog'))
	BEGIN
		EXEC sp_addumpdevice 'disk', 'backup_ThuVienLog','d:\THUVIEN\BACKUP\backup_ThuVienLog.bak'
		BACKUP LOG ThuVien TO backup_ThuVienLog WITH INIT
	END
	IF (NOT EXISTS(SELECT* FROM sys.sysdevices WHERE name='backup_ThuVienDiff'))
	BEGIN
		EXEC sp_addumpdevice 'disk', 'backup_ThuVienDiff','d:\THUVIEN\BACKUP\backup_ThuVienDiff.bak'
	END
	BACKUP DATABASE ThuVien TO backup_ThuVienDiff WITH DIFFERENTIAL, INIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassword]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChangePassword]
    @loginName NVARCHAR(50),
    @oldPassword NVARCHAR(MAX),
    @newPassword NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
	-- Kiểm tra login tồn tại
	IF NOT EXISTS(SELECT * FROM sys.sql_logins WHERE name = @loginName)
	BEGIN
		RAISERROR(N'Không tồn tại login',16,1)
		RETURN
	END
    -- cập nhật mật khẩu mới
	DECLARE @sql NVARCHAR(MAX) = N'ALTER LOGIN ' + QUOTENAME(@loginName) + N' WITH PASSWORD = ' + QUOTENAME(@newPassword, ''''); 
	EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
DECLARE @TENNHOM NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
SELECT
   @TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
SELECT @TENUSER,@TENNHOM, TEN=(CASE WHEN @TENNHOM like'DocGia' 
THEN (SELECT TEN FROM DocGia  WHERE SOTHE = @TENUSER ) ELSE @TENLOGIN END)
GO
/****** Object:  StoredProcedure [dbo].[SP_MUON_BAO]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MUON_BAO]
@SOTHE BIGINT, @ID_BAO BIGINT 
AS
BEGIN
	
	IF((SELECT SLTON FROM BaoTV WHERE ID_BAO = @ID_BAO)<1)
	BEGIN
		RAISERROR(N'Xin lỗi, báo bạn chọn hiện đã không còn ở thư viện',16,1)
		RETURN
	END 
	IF(EXISTS(SELECT * FROM BaoMuon WHERE SOTHE=@SOTHE AND ID_BAO=@ID_BAO AND NGAYTRA IS NULL))
	BEGIN
		RAISERROR(N'Báo vẫn đang được chủ thẻ độc giả mượn',16,2)
		RETURN
	END
	SET XACT_ABORT ON
	BEGIN TRAN
		BEGIN TRY
			INSERT INTO BaoMuon (SOTHE,ID_BAO)
			VALUES(@SOTHE,@ID_BAO)

			COMMIT
		END TRY
		BEGIN CATCH
			ROLLBACK
			DECLARE @ErrorMessage VARCHAR(2000)
			SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
			RAISERROR(@ErrorMessage, 16, 1)
		END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MUON_SACH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MUON_SACH]
@SOTHE BIGINT, @ID_SACH BIGINT 
AS
BEGIN
	IF((SELECT MUON FROM VIEW_SACHTV WHERE ID_SACH = @ID_SACH)=N'Đang mượn')
	BEGIN
		RAISERROR(N'Xin lỗi, sách bạn chọn đang được mượn',16,1)
		RETURN
	END 
	INSERT INTO SachMuon (SOTHE,ID_SACH)
	VALUES(@SOTHE,@ID_SACH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESETMKLOGIN]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[SP_RESETMKLOGIN] @USERNAME nvarchar(50)
As
Declare @LOGINNAME nvarchar(50)
Select @LOGINNAME = name from sys.syslogins 
where dbname = 'ThuVien' and sid in(Select sid from sys.sysusers where name = @USERNAME)

IF(@LOGINNAME = NULL) Return 2

Exec sp_droplogin @LOGINNAME
Exec sp_dropuser @USERNAME

EXEC  SP_ADDLOGIN @LOGINNAME, '123','ThuVien'
 
EXEC SP_GRANTDBACCESS @LOGINNAME, @USERNAME
 
EXEC sp_addrolemember 'DocGia', @USERNAME
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'ThuVien'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSACHTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEMSACHTV]
@SOLUONG INT, @MASACHXB char(10) 
AS
BEGIN
	IF (SELECT COUNT(*) FROM SachTV WHERE MASACHXB = @MASACHXB) + @SOLUONG > (SELECT SLNHAP FROM SachXB WHERE MASACHXB = @MASACHXB)
	BEGIN
		RAISERROR(N'Số lượng thêm vào nhiều hơn số lượng nhập',16,1)
		RETURN
	END

	IF NOT EXISTS (SELECT 1 FROM SachXB WHERE MASACHXB = @MASACHXB)
	BEGIN
		RAISERROR(N'Mã sách xuất bản không tồn tại',16,1)
		RETURN
	END
	DECLARE @ID INT
	SET @ID = 0
	DECLARE @STT INT 
	SELECT @STT = MAX(STT) + 1 FROM SachTV WHERE MASACHXB = @MASACHXB
	IF @STT IS NULL 
	SET @STT = 1
	
	BEGIN TRAN
		BEGIN TRY
			WHILE @ID < @SOLUONG
			BEGIN
				INSERT INTO SachTV(STT,MASACHXB,TINHTRANG)
				VALUES (@STT,@MASACHXB,N'Tốt')

				SET @STT = @STT + 1
				SET @ID = @ID + 1
			END
		END TRY
		BEGIN CATCH
			DECLARE @ErrorMessage VARCHAR(2000)
			SELECT @ErrorMessage = N'Lỗi: ' + ERROR_MESSAGE()
			RAISERROR(@ErrorMessage, 16, 1)
			ROLLBACK
		END CATCH
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimDocGia]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TimDocGia]
@SOTHE BIGINT
AS
BEGIN
SELECT * FROM DocGia WHERE SOTHE=@SOTHE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA_BAO]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TRA_BAO]
@SOTHE BIGINT, @ID_BAO BIGINT
AS
BEGIN
	IF(NOT EXISTS(SELECT * FROM BaoMuon WHERE ID_BAO=@ID_BAO AND SOTHE=@SOTHE AND NGAYTRA IS NULL))
	BEGIN
		RAISERROR(N'Báo đã trả rồi hoặc độc giả chưa từng mượn',16,1)
		RETURN
	END

	SET XACT_ABORT ON
	BEGIN TRAN
		BEGIN TRY
			UPDATE BaoMuon
			SET NGAYTRA=GETDATE()
			WHERE ID_BAO=@ID_BAO AND SOTHE=@SOTHE AND NGAYTRA IS NULL
			
			COMMIT
		END TRY
		BEGIN CATCH
			ROLLBACK
			DECLARE @ErrorMessage VARCHAR(2000)
			SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
			RAISERROR(@ErrorMessage, 16, 1)
		END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA_SACH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TRA_SACH]
@SOTHE BIGINT, @ID_SACH BIGINT
AS
BEGIN
	IF(NOT EXISTS(SELECT * FROM SachMuon WHERE ID_SACH=@ID_SACH AND SOTHE=@SOTHE AND NGAYTRA IS NULL))
	BEGIN
		RAISERROR(N'Sách đã trả rồi hoặc độc giả chưa từng mượn',16,1)
		RETURN
	END
	UPDATE SachMuon
	SET NGAYTRA=GETDATE()
	WHERE ID_SACH=@ID_SACH AND SOTHE=@SOTHE AND NGAYTRA IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOALOGIN]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOALOGIN]
  @USRNAME NVARCHAR(50)
AS
BEGIN
DECLARE @LGNAME NVARCHAR(50)
SELECT @LGNAME=NAME FROM sys.syslogins WHERE sid= (SELECT sid FROM sys.sysusers WHERE NAME=@USRNAME)
BEGIN TRY
  EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME
END TRY
BEGIN CATCH
RAISERROR(N'Tài khoản không tồn tại',16,1)
RETURN 2
END CATCH
RETURN 0
END
GO
--Phân quyền cho độc giả
GRANT EXECUTE ON SP_MUON_SACH TO DocGia 
GO
GRANT EXECUTE ON SP_MUON_BAO TO DocGia 
GO
GRANT EXECUTE ON SP_TRA_SACH TO DocGia 
GO
GRANT EXECUTE ON SP_TRA_BAO TO DocGia 
GO

--Trigger
/****** Object:  Trigger [dbo].[d_BaoMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Trigger [dbo].[d_BaoMuon]
On [dbo].[BaoMuon]
For Delete
As
Begin
	-- Báo chưa trả thì không được xóa thông tin mượn
	IF EXISTS (Select 1 From deleted WHERE NGAYTRA IS NULL)
	Begin
		Raiserror(N'Không thể xóa thông tin khi chưa trả báo',16,1)
		ROLLBACK
	End
End
GO
ALTER TABLE [dbo].[BaoMuon] ENABLE TRIGGER [d_BaoMuon]
GO
/****** Object:  Trigger [dbo].[i_BaoMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[i_BaoMuon]
On [dbo].[BaoMuon]
For insert
As
Begin
	-- Không thêm thông tin ngày trả vào khi vừa tạo phiếu mượn
	IF EXISTS(SELECT 1 FROM inserted WHERE NGAYTRA IS NOT NULL)
	BEGIN
		RAISERROR(N'Vui lòng không thêm thông tin ngày trả khi vừa lập thông tin mượn',16,1)
		ROLLBACK
	END
	-- Không mượn quá số lượng tồn của báo thư viện
	IF EXISTS (SELECT 1 FROM BaoTV, (SELECT COUNT(*) CNT, ID_BAO FROM inserted GROUP BY inserted.ID_BAO) AS A 
				WHERE BaoTV.ID_BAO = A.ID_BAO AND BaoTV.SLTON < A.CNT)
	Begin
		Raiserror(N'Không đủ số lượng báo để mượn',16,1)
		ROLLBACK
	End
	-- Không mượn thêm báo thư viện mà chưa trả 
	IF EXISTS (SELECT 1 FROM inserted, (SELECT ID_BAO,ID_MUONBAO,SOTHE FROM BaoMuon WHERE NGAYTRA IS NULL) AS A 
				WHERE inserted.ID_BAO = A.ID_BAO AND inserted.SOTHE = A.SOTHE AND A.ID_MUONBAO <> inserted.ID_MUONBAO)
	BEGIN
		RAISERROR(N'Độc giả vẫn chưa trả báo thư viện này',16,1)
		ROLLBACK
	END
	BEGIN TRY
		UPDATE BaoTV
		SET SLTON = SLTON - A.CNT
		FROM (SELECT COUNT(*) CNT, ID_BAO FROM inserted GROUP BY inserted.ID_BAO) AS A
		WHERE BaoTV.ID_BAO = A.ID_BAO
	END TRY
	BEGIN CATCH
		RAISERROR(N'Lỗi cập nhật số lượng tồn, vui lòng mượn lại',16,1)
		ROLLBACK
	END CATCH
End
GO
ALTER TABLE [dbo].[BaoMuon] ENABLE TRIGGER [i_BaoMuon]
GO
/****** Object:  Trigger [dbo].[u_BaoMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[u_BaoMuon]
ON [dbo].[BaoMuon]
For UPDATE
As
Begin
	-- Đã trả thì không được cập nhật thông tin mượn
	IF EXISTS(SELECT 1 FROM deleted WHERE NGAYTRA IS NOT NULL)
	BEGIN
		RAISERROR(N'Thông tin báo đã trả, không được chỉnh sửa',16,1)
		ROLLBACK
	END
	-- Chưa trả thì không được thay đổi id báo, số thể người mượn, ngày mượn
	IF EXISTS(SELECT 1 FROM inserted i, deleted d WHERE i.ID_MUONBAO = d.ID_MUONBAO AND (i.ID_BAO <> d.ID_BAO OR i.NGAYMUON <> d.NGAYMUON OR i.SOTHE <> d.SOTHE))
	BEGIN
		RAISERROR(N'Vui lòng không thay đổi thông tin id báo, số thể người mượn, ngày mượn',16,1)
		ROLLBACK
	END
	-- Cập nhật trả
	-- Tự động tăng số lượng tồn báo tv
	BEGIN TRY
		UPDATE BaoTV
		SET SLTON = SLTON + A.CNT
		FROM (SELECT COUNT(*) CNT, ID_BAO FROM inserted GROUP BY ID_BAO) A
		WHERE BaoTV.ID_BAO = A.ID_BAO
	END TRY
	BEGIN CATCH
		RAISERROR(N'Lỗi cập nhật số lượng tồn, vui lòng thực hiện trả báo lại',16,1)
		ROLLBACK
	END CATCH
		
	
End
GO
ALTER TABLE [dbo].[BaoMuon] ENABLE TRIGGER [u_BaoMuon]
GO
/****** Object:  Trigger [dbo].[iu_BaoPH]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[iu_BaoPH]
ON [dbo].[BaoPH]
FOR INSERT, UPDATE
AS
BEGIN
	-- Mã báo phải là mã của tài liệu loại Báo
	IF EXISTS (SELECT 1 FROM TaiLieu, inserted WHERE TaiLieu.MA = inserted.MABAO AND TaiLieu.LOAI <> N'Báo')
	BEGIN
		RAISERROR(N'Mã không phải của báo',16,1)
		ROLLBACK
	END
END
GO
ALTER TABLE [dbo].[BaoPH] ENABLE TRIGGER [iu_BaoPH]
GO
/****** Object:  Trigger [dbo].[i_BaoTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[i_BaoTV]
ON [dbo].[BaoTV]
For Insert
As
Begin
	-- Nhập báo phải đảm bảo số lượng nhập = số lượng tồn
	IF EXISTS(SELECT 1 FROM inserted WHERE SLNHAP <> SLTON)
	BEGIN
		RAISERROR(N'Vui lòng đảm bảo số lượng nhập = số lượng tồn',16,1)
		ROLLBACK
	END
End
GO
ALTER TABLE [dbo].[BaoTV] ENABLE TRIGGER [i_BaoTV]
GO
/****** Object:  Trigger [dbo].[iu_BaoTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[iu_BaoTV]
ON [dbo].[BaoTV]
For Insert, UpDate
As
Begin
	If (Select LOAI From TaiLieu, inserted Where TaiLieu.MA = inserted.MABAO) <> N'Báo'
	Begin
		RAISERROR('Không phải mã của báo',16,1)
		return
	End

End
GO
ALTER TABLE [dbo].[BaoTV] ENABLE TRIGGER [iu_BaoTV]
GO
/****** Object:  Trigger [dbo].[u_BaoTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[u_BaoTV]
ON [dbo].[BaoTV]
FOR UPDATE
AS
BEGIN
	-- Số lượng nhập và số lượng tồn phải tương đồng với số báo mượn chưa trả
	IF EXISTS (SELECT 1 FROM inserted, (SELECT COUNT(*) CNT, inserted.ID_BAO 
									FROM inserted, BaoMuon 
									WHERE inserted.ID_BAO = BaoMuon.ID_BAO AND BaoMuon.NGAYTRA IS NULL
									GROUP BY inserted.ID_BAO) AS A
				WHERE inserted.ID_BAO = A.ID_BAO AND inserted.SLNHAP - inserted.SLTON <> A.CNT)
	BEGIN
		RAISERROR(N'Số lượng nhập và số lượng tồn chưa đúng với số báo đang mượn',16,1)
		ROLLBACK
	END
END
GO
ALTER TABLE [dbo].[BaoTV] ENABLE TRIGGER [u_BaoTV]
GO
/****** Object:  Trigger [dbo].[iu_CTTACGIA]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[iu_CTTACGIA] ON [dbo].[ChiTietTacGia]
FOR INSERT, UPDATE
AS
Begin
	IF EXISTS (SELECT 1 FROM TaiLieu, inserted WHERE MA=inserted.MASACH AND TaiLieu.LOAI <> N'Sách')
	Begin
		raiserror( 'Mã tài liệu không phải sách',16,1)
		rollback
	End
End
GO
ALTER TABLE [dbo].[ChiTietTacGia] ENABLE TRIGGER [iu_CTTACGIA]
GO
/****** Object:  Trigger [dbo].[d_SachMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[d_SachMuon]
On [dbo].[SachMuon]
For Delete
As
Begin
	-- Không xóa thông tin mượn khi chưa trả sách
	IF EXISTS (Select NGAYTRA From deleted WHERE NGAYTRA IS NULL)
	Begin
		Raiserror('Không được xóa thông tin khi chưa trả sách',16,1)
		Rollback
	End
End
GO
ALTER TABLE [dbo].[SachMuon] ENABLE TRIGGER [d_SachMuon]
GO
/****** Object:  Trigger [dbo].[i_SachMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[i_SachMuon]
On [dbo].[SachMuon]
Instead of Insert
As
Begin
	-- Không thêm thông NGAYTRA khi lập thông tin mượn
	IF EXISTS(SELECT 1 FROM inserted WHERE NGAYTRA IS NOT NULL)
	BEGIN
		RAISERROR(N'Vui lòng không thêm thông tin ngày trả khi lập thông tin mượn',16,1)
		RETURN
	END
	-- Không mượn cuốn sách đang mượn
	IF EXISTS (Select 1 From SachMuon, inserted Where SachMuon.ID_SACH = inserted.ID_SACH AND SachMuon.NGAYTRA IS NULL)
	BEGIN
		RAISERROR(N'Không thể mượn do cuốn sách chưa trả',16,1)
		RETURN
	END
	-- Đạt điều kiện đặt ra, thêm dữ liệu
	INSERT INTO SachMuon (SOTHE,ID_SACH,NGAYMUON)
	SELECT SOTHE,ID_SACH,NGAYMUON FROM inserted
End
GO
ALTER TABLE [dbo].[SachMuon] ENABLE TRIGGER [i_SachMuon]
GO
/****** Object:  Trigger [dbo].[u_SachMuon]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[u_SachMuon]
ON [dbo].[SachMuon]
FOR UPDATE
AS
BEGIN
	-- Không cập nhật thông tin khi đã trả
	IF EXISTS (SELECT 1 FROM deleted WHERE NGAYTRA IS NOT NULL)
	BEGIN
		RAISERROR(N'Không cập nhật thông tin khi đã trả',16,1)
		ROLLBACK
	END
	-- Khi chưa trả, chỉ cho cập nhật thông tin NGAYTRA
	IF EXISTS (SELECT 1 FROM inserted I, deleted D WHERE I.ID_SACHMUON = D.ID_SACHMUON AND (I.SOTHE <> D.SOTHE OR I.ID_SACH <> D.ID_SACH OR I.NGAYMUON <> D.NGAYMUON))
	BEGIN
		RAISERROR(N'Vui lòng không thay đổi thông tin mượn',16,1)
		ROLLBACK
	END
END
GO
ALTER TABLE [dbo].[SachMuon] ENABLE TRIGGER [u_SachMuon]
GO
/****** Object:  Trigger [dbo].[i_SachTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Trigger [dbo].[i_SachTV]
On [dbo].[SachTV]
For insert
As
Begin
	IF (Select count(*) From SachTV, inserted where SachTV.MASACHXB = inserted.MASACHXB) 
		> (Select SLNHAP From SachXB, inserted where SachXB.MASACHXB = inserted.MASACHXB)
	Begin
		Raiserror('Số lượng cuốn sách đã nhiều hơn số lượng nhập',16,1);
	End
End 
GO
ALTER TABLE [dbo].[SachTV] ENABLE TRIGGER [i_SachTV]
GO
/****** Object:  Trigger [dbo].[iu_SachTV]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[iu_SachTV]
On [dbo].[SachTV]
For insert,update
As
Begin
	-- Số lượng cuốn sách không được nhiều hơn thông tin số lượng nhập vào của sách xuất bản
	IF EXISTS (SELECT 1 FROM SachXB, (SELECT COUNT(*) cnt, inserted.MASACHXB 
									  FROM inserted, SachTV
									  WHERE inserted.MASACHXB = SachTV.MASACHXB
									  GROUP BY inserted.MASACHXB) as A
				WHERE SachXB.MASACHXB = A.MASACHXB AND SachXB.SLNHAP < A.cnt)
	Begin
		Raiserror('Số lượng cuốn sách đã nhiều hơn số lượng nhập',16,1);
		Rollback
	End
End
GO
ALTER TABLE [dbo].[SachTV] ENABLE TRIGGER [iu_SachTV]
GO
/****** Object:  Trigger [dbo].[iu_SachXB]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[iu_SachXB]
On [dbo].[SachXB]
FOR insert, update
As
Begin
	-- Kiểm tra loại tài liệu liên kết là sách --
	if exists(select 1 From TaiLieu, inserted where TaiLieu.MA = inserted.MASACH and TaiLieu.LOAI <> N'Sách')
	begin
		Raiserror(N'Không phải sách',16,1)
		Rollback
	end

	-- Kiểm tra độ tương đồng lần xuất bản và năm xuất bản --
	IF EXISTS (Select '' From SachXB, inserted Where SachXB.MASACH = inserted.MASACH AND ((SachXB.LAN > inserted.LAN AND CONVERT(INT,SachXB.NAM) < CONVERT(INT,inserted.NAM)) 
																						OR (SachXB.LAN < inserted.LAN AND CONVERT(INT,SachXB.NAM) > CONVERT(INT,inserted.NAM))))
	BEGIN
		RAISERROR('Lần xuất bản và năm xuất bản so với sách xuất bản đã có không đồng nhất',16,1)
		ROLLBACK
	END
End
GO
ALTER TABLE [dbo].[SachXB] ENABLE TRIGGER [iu_SachXB]
GO
/****** Object:  Trigger [dbo].[u_SachXB]    Script Date: 10/7/2023 2:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[u_SachXB]
On [dbo].[SachXB]
For Update
As
Begin
	-- Chỉnh sửa số lượng nhập phải lớn hơn số lượng cuốn sách hiện có tại Sách thư viện
	IF EXISTS(SELECT 1 FROM inserted, (SELECT COUNT(*) cnt, inserted.MASACHXB 
									FROM inserted, SachTV 
									WHERE inserted.MASACHXB = SachTV.MASACHXB
									GROUP BY inserted.MASACHXB) AS A
				WHERE inserted.MASACHXB = A.MASACHXB AND inserted.SLNHAP < A.cnt)
	BEGIN
		RAISERROR(N'Số lượng nhập đang nhỏ hơn số lượng cuốn sách trong thư viện',16,1)
		ROLLBACK
	END
End
GO
ALTER TABLE [dbo].[SachXB] ENABLE TRIGGER [u_SachXB]
GO
/****** Object:  Trigger [dbo].[u_TaiLieu]    Script Date: 10/7/2023 2:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[u_TaiLieu]
On [dbo].[TaiLieu]
For Update
As
Begin
	-- Chỉ cần kiểm tra việc cập nhật loại tài liệu
	IF NOT EXISTS(SELECT 1 FROM inserted I, deleted D WHERE I.LOAI <> D.LOAI) RETURN
	-- Nếu là Sách
	-- Không thay đổi khi tài liệu còn liên kết sách xuất bản
	IF EXISTS (SELECT 1 FROM inserted, SachXB WHERE SachXB.MASACH = inserted.MA)
	BEGIN
		RAISERROR(N'Không thế đổi loại do đã có thông tin sách xuất bản liên quan',16,1)
		ROLLBACK
	END
	-- Không thay đổi khi tài liệu còn liên kết với tác giả
	IF EXISTS (SELECT 1 FROM inserted, ChiTietTacGia WHERE ChiTietTacGia.MASACH = inserted.MA)
	BEGIN
		RAISERROR(N'Không thể đổi loại do đã có thông tin tác giả liên quan',16,1)
		ROLLBACK
	END	
	-- Nếu là Báo
	-- Không thay đổi khi còn liên kết với báo phát hành
	IF EXISTS (SELECT 1 FROM BaoPH, inserted WHERE BaoPH.MABAO = inserted.MA)
	BEGIN
		RAISERROR(N'Không thể đổi loại do đã có thông tin báo phát hành liên quan',16,1)
		ROLLBACK
	END
End
GO
ALTER TABLE [dbo].[TaiLieu] ENABLE TRIGGER [u_TaiLieu]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SXB"
            Begin Extent = 
               Top = 9
               Left = 352
               Bottom = 206
               Right = 590
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "S"
            Begin Extent = 
               Top = 9
               Left = 647
               Bottom = 152
               Right = 885
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CTTG"
            Begin Extent = 
               Top = 9
               Left = 942
               Bottom = 152
               Right = 1180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TG"
            Begin Extent = 
               Top = 9
               Left = 1237
               Bottom = 152
               Right = 1475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STV_1"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 295
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_SACHTV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_SACHTV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_SACHTV'
GO
USE [master]
GO
USE [master]
GO
CREATE PROC SP_RESTORE
AS
BEGIN
	ALTER DATABASE ThuVien SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	BACKUP LOG ThuVien TO backup_ThuVienLog WITH NORECOVERY
	RESTORE DATABASE ThuVien FROM backup_ThuVien WITH NORECOVERY
	RESTORE DATABASE ThuVien FROM backup_ThuVienDiff WITH RECOVERY
	ALTER DATABASE ThuVien SET MULTI_USER
END
GO
CREATE PROC SP_RESTORE_FULL
AS
BEGIN
	ALTER DATABASE ThuVien SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	BACKUP LOG ThuVien TO backup_ThuVienLog WITH NORECOVERY
	RESTORE DATABASE ThuVien FROM backup_ThuVien
	ALTER DATABASE ThuVien SET MULTI_USER
END
GO
CREATE PROC SP_DEL_BACKUP
AS
BEGIN
EXEC sp_dropdevice 'backup_ThuVien', 'delfile'
EXEC sp_dropdevice 'backup_ThuVienDiff', 'delfile'
EXEC sp_dropdevice 'backup_ThuVienLog', 'delfile'
END
GO
CREATE USER ThuThu FOR LOGIN ThuThu 
GO
GRANT EXECUTE ON SP_RESTORE TO ThuThu 
GO
GRANT EXECUTE ON SP_RESTORE_FULL TO ThuThu 
GO

USE [msdb]  
GO  
EXEC dbo.sp_add_job  
    @job_name = N'Backup ThuVien' ;  
GO  
EXEC sp_add_jobstep  
    @job_name = N'Backup ThuVien',  
    @step_name = N'Backup ThuVien Weekly',  
    @subsystem = N'TSQL',  
    @command = N'BACKUP DATABASE ThuVien TO backup_ThuVien WITH INIT',   
    @retry_attempts = 5,  
    @retry_interval = 5 ;  
GO  
EXEC dbo.sp_add_schedule  
    @schedule_name = N'Backup ThuVien Weekly',  
    @freq_type =  8,-- chế độ weekly
	@freq_interval =1,--Sunday
	@freq_recurrence_factor=1,
    @active_start_time = 235900;
USE msdb
GO  
EXEC sp_attach_schedule  
   @job_name = N'Backup ThuVien',  
   @schedule_name = N'Backup ThuVien Weekly';  
GO  
EXEC dbo.sp_add_jobserver  
    @job_name = N'Backup ThuVien';  
GO  

